{% extends 'base.html' %}
{% block content %}

<h1>DCL Drawer</h1>
<div id="tool-menu">
  <div>
      <button id="rotateLeft-button">Rotate Left</button> <button id="rotateRight-button">Rotate Right</button>
  </div>
</div>
<div id="konva-holder"> </div>
    <head>
        <script src="https://unpkg.com/konva@8.3.12/konva.min.js"></script>
        <meta charset="utf-8" />
        <style>
        body {
            margin: 10;
            padding: 10;
            overflow: hidden;
            background-color: #f0f0f0;
        }


        #menu {
            display: none;
            position: absolute;
            width: 60px;
            background-color: white;
            box-shadow: 0 0 5px grey;
            border-radius: 3px;
        }

        #menu button {
            width: 100%;
            background-color: white;
            border: none;
            margin: 0;
            padding: 10px;
        }

        #menu button:hover {
            background-color: lightgray;
        }
        </style>
  </head>

  <body>
    <div id="container"></div>
    <div id="menu">
      <div>
        <button id="addBar-button">Insert Bar</button>
        <button id="addSupport-button">Add Support</button>
        <button id="add-custom">Add Embedment</button>
        <button id="addForce-button">Add Force</button>
        <button id="delete-button">Delete Object</button>
      </div>
    </div>
    <script>
        const canvasHeight = 600;
        const canvasWidth = 1010;
        const barShape = 20;
        const barThickness = barShape/2;
        var GUIDELINE_OFFSET = 5;
        var angle = 0
        let shapes = []
        var rotateToRight = 10
        var rotateToLeft = -10
        let transformers = []
        var position = {x: 80, y: 45}
        let shape = null

        function drawLinesSolution1(layer){      
            const stepSize = 15;

            const xSize= stage.width(), 
                ySize= stage.height(),
                xSteps = Math.round(xSize/ stepSize), 
                ySteps = Math.round(ySize / stepSize);
    
            // draw vertical lines
            for (let i = 0; i <= xSteps; i++) {
            this.layer.add(
                new Konva.Line({
                name: "grid",
                x: i * stepSize,
                points: [0, 0, 0, ySize],
                stroke: 'black',
                strokeWidth: 0.5,
                })
            );
            }
            //draw Horizontal lines
            for (let i = 0; i <= ySteps; i++) {
            this.layer.add(
                new Konva.Line({
                y: i * stepSize,
                points: [0, 0, xSize, 0],
                stroke: 'black',
                strokeWidth: 0.5,
                })
            );
            }
            
            this.layer.batchDraw();
        }

        let currentShape;
        var menuNode = document.getElementById('menu');
        document.getElementById('delete-button').addEventListener('click', () => {
            if (shape.name() === "stage"){
                return;
            }
            currentShape.destroy();
        });

        document.getElementById('add-custom').addEventListener('click', () => {
            embedmentShape();
        });

        document.getElementById('addBar-button').addEventListener('click', () => {
            doubleclickHandler();
        });

        document.getElementById('addSupport-button').addEventListener('click', () => {
            supportShape();
        });

        document.getElementById('addForce-button').addEventListener('click', () => {
            forceShape();
        });

        document.getElementById('rotateRight-button').addEventListener('click', () => {
            rotateRight();
        });

        document.getElementById('rotateLeft-button').addEventListener('click', () => {
            rotateLeft();
        });

        window.addEventListener('click', () => { 
                menuNode.style.display = 'none'; 
            }
        );

        function ctxtmenu(e){
            e.evt.preventDefault();

            currentShape = e.target; // if there is one 

            var containerRect = stage.container().getBoundingClientRect();
            menuNode.style.width = '150px';
            menuNode.style.top = containerRect.top + stage.getPointerPosition().y + 4 + 'px';
            menuNode.style.left = containerRect.left + stage.getPointerPosition().x + 4 + 'px';
            menuNode.style.display = 'block';
        };
        function stage_layer_grid(){

            stage = new Konva.Stage({
                name: 'stage',
                height: canvasHeight,
                width: canvasWidth,
                container: "konva-holder",
                visible: true,
            });

            stage.getContainer().style.border = '1px solid black';

            layer = new Konva.Layer();
            drawLinesSolution1(layer);
            
            stage.add(layer);
            stage.on('contextmenu', ctxtmenu);

        }

        stage_layer_grid();

        console.log(layer);
        let bar = null;
        let isDrawing = false;

        stage.on("click", (e) => {
            shape = e.target
            if (e.target.attrs.name === "bar" || e.target.attrs.name === "embedment"
                || e.target.attrs.name === "support" || e.target.attrs.name === "force"){
                console.log("bar clicked.");
                tr = new Konva.Transformer({
                    nodes: [e.target],
                    name: "Transformer",
                    anchorStroke: 'red',
                    anchorFill: 'lightblue',
                    anchorSize: 5,
                    enabledAnchors: ['top-left', 'top-right', 'bottom-left', 'bottom-right'],
                });
                layer.add(tr);
                transformers.push(tr);
            }
            else {
                transformers.forEach(function (t){
                t.destroy();
            })
            }
        });
        // were can we snap our objects?
        function getLineGuideStops(skipShape) {
            // we can snap to stage borders and the center of the stage
            var vertical = [0, stage.width() / 2, stage.width()];
            var horizontal = [0, stage.height() / 2, stage.height()];

            // and we snap over edges and center of each object on the canvas
            stage.find('.bar').forEach((guideItem) => {
            if (guideItem === skipShape) {
                return;
            }
            var box = guideItem.getClientRect();
            // and we can snap to all edges of shapes
            vertical.push([box.x, box.x + box.width, box.x + box.width / 2]);
            horizontal.push([box.y, box.y + box.height, box.y + box.height / 2]);
            });
            return {
            vertical: vertical.flat(),
            horizontal: horizontal.flat(),
            };
        }

        // what points of the object will trigger to snapping?
        // it can be just center of the object
        // but we will enable all edges and center
        function getObjectSnappingEdges(node) {
            var box = node.getClientRect();
            var absPos = node.absolutePosition();

            return {
            vertical: [
                {
                guide: Math.round(box.x),
                offset: Math.round(absPos.x - box.x),
                snap: 'start',
                },
                {
                guide: Math.round(box.x + box.width / 2),
                offset: Math.round(absPos.x - box.x - box.width / 2),
                snap: 'center',
                },
                {
                guide: Math.round(box.x + box.width),
                offset: Math.round(absPos.x - box.x - box.width),
                snap: 'end',
                },
            ],
            horizontal: [
                {
                guide: Math.round(box.y),
                offset: Math.round(absPos.y - box.y),
                snap: 'start',
                },
                {
                guide: Math.round(box.y + box.height / 2),
                offset: Math.round(absPos.y - box.y - box.height / 2),
                snap: 'center',
                },
                {
                guide: Math.round(box.y + box.height),
                offset: Math.round(absPos.y - box.y - box.height),
                snap: 'end',
                },
            ],
            };
        }

        // find all snapping possibilities
        function getGuides(lineGuideStops, itemBounds) {
            var resultV = [];
            var resultH = [];

            lineGuideStops.vertical.forEach((lineGuide) => {
            itemBounds.vertical.forEach((itemBound) => {
                var diff = Math.abs(lineGuide - itemBound.guide);
                // if the distance between guild line and object snap point is close we can consider this for snapping
                if (diff < GUIDELINE_OFFSET) {
                resultV.push({
                    lineGuide: lineGuide,
                    diff: diff,
                    snap: itemBound.snap,
                    offset: itemBound.offset,
                });
                }
            });
            });

            lineGuideStops.horizontal.forEach((lineGuide) => {
            itemBounds.horizontal.forEach((itemBound) => {
                var diff = Math.abs(lineGuide - itemBound.guide);
                if (diff < GUIDELINE_OFFSET) {
                resultH.push({
                    lineGuide: lineGuide,
                    diff: diff,
                    snap: itemBound.snap,
                    offset: itemBound.offset,
                });
                }
            });
            });

            var guides = [];

            // find closest snap
            var minV = resultV.sort((a, b) => a.diff - b.diff)[0];
            var minH = resultH.sort((a, b) => a.diff - b.diff)[0];
            if (minV) {
            guides.push({
                lineGuide: minV.lineGuide,
                offset: minV.offset,
                orientation: 'V',
                snap: minV.snap,
            });
            }
            if (minH) {
            guides.push({
                lineGuide: minH.lineGuide,
                offset: minH.offset,
                orientation: 'H',
                snap: minH.snap,
            });
            }
            return guides;
        }

        function drawGuides(guides) {
            guides.forEach((lg) => {
            if (lg.orientation === 'H') {
                var line = new Konva.Line({
                points: [-6000, 0, 6000, 0],
                stroke: 'rgb(0, 161, 255)',
                strokeWidth: 1,
                name: 'guid-line',
                dash: [4, 6],
                });
                layer.add(line);
                line.absolutePosition({
                x: 0,
                y: lg.lineGuide,
                });
            } else if (lg.orientation === 'V') {
                var line = new Konva.Line({
                points: [0, -6000, 0, 6000],
                stroke: 'rgb(0, 161, 255)',
                strokeWidth: 1,
                name: 'guid-line',
                dash: [4, 6],
                });
                layer.add(line);
                line.absolutePosition({
                x: lg.lineGuide,
                y: 0,
                });
            }
            });
        }

        layer.on('dragmove', function (e) {
            // clear all previous lines on the screen
            layer.find('.guid-line').forEach((l) => l.destroy());

            // find possible snapping lines
            var lineGuideStops = getLineGuideStops(e.target);
            // find snapping points of current object
            var itemBounds = getObjectSnappingEdges(e.target);

            // now find where can we snap current object
            var guides = getGuides(lineGuideStops, itemBounds);

            // do nothing of no snapping
            if (!guides.length) {
            return;
            }

            drawGuides(guides);

            var absPos = e.target.absolutePosition();
            // now force object position
            guides.forEach((lg) => {
            switch (lg.snap) {
                case 'start': {
                switch (lg.orientation) {
                    case 'V': {
                    absPos.x = lg.lineGuide + lg.offset;
                    break;
                    }
                    case 'H': {
                    absPos.y = lg.lineGuide + lg.offset;
                    break;
                    }
                }
                break;
                }
                case 'center': {
                switch (lg.orientation) {
                    case 'V': {
                    absPos.x = lg.lineGuide + lg.offset;
                    break;
                    }
                    case 'H': {
                    absPos.y = lg.lineGuide + lg.offset;
                    break;
                    }
                }
                break;
                }
                case 'end': {
                switch (lg.orientation) {
                    case 'V': {
                    absPos.x = lg.lineGuide + lg.offset;
                    break;
                    }
                    case 'H': {
                    absPos.y = lg.lineGuide + lg.offset;
                    break;
                    }
                }
                break;
                }
            }
            });
            e.target.absolutePosition(absPos);
        });

        layer.on('dragend', function (e) {
            // clear all previous lines on the screen
            layer.find('.guid-line').forEach((l) => l.destroy());
        });

        let clickPositionX = null;
        let clickPositionY = null;
        function doubleclickHandler(){
            isDrawing = true;
            bar = new Konva.Rect({
                name: "bar",
                x: stage.getPointerPosition().x - barThickness,
                y: stage.getPointerPosition().y - barThickness,
                width: 100,
                height: barShape,
                fill: "lightblue",
                stroke: "black",
                strokeWidth: 2,
                strokeScaleEnabled: false,
                draggable: true,
            });
            
            // bar.on("click", barClickHandler);
            layer.add(bar).batchDraw();
        }

        function embedmentShape(){
            const embedmentShape = 20;
            const embedmentThickness = barShape/2;
            var embedment = new Konva.Rect({
                name: "embedment",
                x: stage.getPointerPosition().x - embedmentThickness,
                y: stage.getPointerPosition().y - embedmentThickness,
                width: 5,
                height: 50,
                fill: "grey",
                stroke: "black",
                strokeWidth: 2,
                draggable: true,
                strokeScaleEnabled: false,
                
              });
        
              // add the triangle shape to the layer
              layer.add(embedment).batchDraw();
        }

        function supportShape(){
            const embedmentShape = 15;
            const embedmentThickness = barShape/2;
            var support = new Konva.RegularPolygon({
                name: "support",
                x: stage.getPointerPosition().x - embedmentThickness,
                y: stage.getPointerPosition().y - embedmentThickness,
                sides: 3,
                radius: 15,
                fill: '#d5d4d3',
                stroke: 'black',
                strokeWidth: 2,
                draggable: true,
                strokeScaleEnabled: false,
              });

              layer.add(support).batchDraw();
        }

        function forceShape(){
            var width = 50;
            var height = 50;
            var force = new Konva.Arrow({
                name: "force",
                x: stage.width() / 4,
                y: stage.height() / 4,
                points: [0, 0, width / 2, height / 2],
                pointerLength: 10,
                pointerWidth: 10,
                fill: '#13861f',
                stroke: '#13861f',
                strokeWidth: 10,
                draggable: true,
                strokeScaleEnabled: false,
              });
        
              // add the shape to the layer
              layer.add(force).batchDraw();
        }

        function mouseupHandler(){
            isDrawing = false;
        }

        function mousemoveHandler(){
            if (!isDrawing) return false;
            const newWidth = stage.getPointerPosition().x - bar.x() + barThickness;
            const newHeight = stage.getPointerPosition().y - bar.y() + barThickness;
            bar.width(newWidth).height(newHeight);
            layer.batchDraw();    
        }

        function rotateAroundPoint(shape, angleDegrees, point) {
            let angleRadians = angleDegrees * Math.PI / 180; // sin + cos require radians
            
            const x =
              point.x +
              (shape.x() - point.x) * Math.cos(angleRadians) -
              (shape.y() - point.y) * Math.sin(angleRadians);
            const y =
              point.y +
              (shape.x() - point.x) * Math.sin(angleRadians) +
              (shape.y() - point.y) * Math.cos(angleRadians);
             
            shape.position({x: x, y: y});  // move the rotated shape in relation to the rotation point.
            shape.rotation(shape.rotation() + angleDegrees); // rotate the shape in place around its natural rotation point
            
        }

        function rotateRight(){
            if (shape.name() === "stage"){
                return;
            }
            // This is the important call ! Cross is the rotation point as illustrated by crosshairs.
            rotateAroundPoint(shape, rotateToRight, {x: shape.x(), y: shape.y()});
            
            shape.moveToTop(); // ensure the 'tails' shapes do not cover the main shape
            
            stage.draw();
            
            angle = angle + 10;
        }

        function rotateLeft(){
            if (shape.name() === "stage"){
                return;
            }
            // This is the important call ! Cross is the rotation point as illustrated by crosshairs.
            rotateAroundPoint(shape, rotateToLeft, {x: shape.x(), y: shape.y()});
            
            shape.moveToTop(); // ensure the 'tails' shapes do not cover the main shape
            
            stage.draw();
            
            angle = angle + 10;
        }
    </script>
  </body>
{% endblock %}