{% extends 'base.html' %}
{% block content %}

<h1>DCL Drawer</h1>
<div id="konva-holder"> </div>
    <head>
        <script src="https://unpkg.com/konva@8.3.12/konva.min.js"></script>
        <meta charset="utf-8" />
        <style>
        body {
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #f0f0f0;
        }

        #menu {
            display: none;
            position: absolute;
            width: 60px;
            background-color: white;
            box-shadow: 0 0 5px grey;
            border-radius: 3px;
        }

        #menu button {
            width: 100%;
            background-color: white;
            border: none;
            margin: 0;
            padding: 10px;
        }

        #menu button:hover {
            background-color: lightgray;
        }
        </style>
  </head>

  <body>
    <div id="container"></div>
    <div id="menu">
      <div>
        <button id="pulse-button">Insert Bar</button
        ><button id="delete-button">Delete Bar</button>
      </div>
    </div>
    <script>
        const canvasHeight = 600;
        const canvasWidth = 1010;
        const barShape = 20;
        const barThickness = barShape/2;
        
        let transformers = [];

        function drawLinesSolution1(layer){      
            const stepSize = 15;

            const xSize= stage.width(), 
                ySize= stage.height(),
                xSteps = Math.round(xSize/ stepSize), 
                ySteps = Math.round(ySize / stepSize);
    
            // draw vertical lines
            for (let i = 0; i <= xSteps; i++) {
            this.layer.add(
                new Konva.Line({
                x: i * stepSize,
                points: [0, 0, 0, ySize],
                stroke: 'black',
                strokeWidth: 0.5,
                })
            );
            }
            //draw Horizontal lines
            for (let i = 0; i <= ySteps; i++) {
            this.layer.add(
                new Konva.Line({
                y: i * stepSize,
                points: [0, 0, xSize, 0],
                stroke: 'black',
                strokeWidth: 0.5,
                })
            );
            }
            
            this.layer.batchDraw();
        }

        let currentShape;
        var menuNode = document.getElementById('menu');
        document.getElementById('delete-button').addEventListener('click', () => {
            currentShape.destroy();
        });

        window.addEventListener('click', () => { 
                menuNode.style.display = 'none'; 
            }
        );

        function ctxtmenu(e){
            e.evt.preventDefault();
            if (e.target === stage) {
                return;
            }
            currentShape = e.target; // if there is one 

            var containerRect = stage.container().getBoundingClientRect();
            menuNode.style.width = '150px';
            menuNode.style.top = containerRect.top + stage.getPointerPosition().y + 4 + 'px';
            menuNode.style.left = containerRect.left + stage.getPointerPosition().x + 4 + 'px';
            menuNode.style.display = 'block';
        };
        function stage_layer_grid(){

            stage = new Konva.Stage({
                height: canvasHeight,
                width: canvasWidth,
                container: "konva-holder",
                visible: true,
            });

            stage.getContainer().style.border = '1px solid black';

            layer = new Konva.Layer();
            drawLinesSolution1(layer);
            
            stage.add(layer);
            stage.on('contextmenu', ctxtmenu);

        }

        stage_layer_grid();

        let bar = null;
        let isDrawing = false;

        stage.on("dblclick", doubleclickHandler);
        stage.on("click", (e) => {
            if (e.target.attrs.name === "bar"){
                console.log("bar clicked.");
                tr = new Konva.Transformer({
                    nodes: [e.target],
                    name: "Transformer",
                    anchorStroke: 'red',
                    anchorFill: 'lightblue',
                    anchorSize: 5,
                    ignoreStroke: true,
                });
                layer.add(tr);
                transformers.push(tr);
            }
            else {
                transformers.forEach(function (t){
                t.destroy();
            })
            }
        });
        // stage.on("mousemove", mousemoveHandler);
        // stage.on("mouseup", mouseupHandler);

        let clickPositionX = null;
        let clickPositionY = null;
        function doubleclickHandler(){
            isDrawing = true;
            bar = new Konva.Rect({
                name: "bar",
                x: stage.getPointerPosition().x - barThickness,
                y: stage.getPointerPosition().y - barThickness,
                width: barShape,
                height: barShape,
                fill: "lightblue",
                stroke: "black",
                strokeWidth: 2,
                strokeScaleEnabled: false,
                draggable: true,
            });
            
            // bar.on("click", barClickHandler);
            layer.add(bar).batchDraw();
        }

        doubleclickHandler();
        function mouseupHandler(){
            isDrawing = false;
        }

        function mousemoveHandler(){
            if (!isDrawing) return false;
            const newWidth = stage.getPointerPosition().x - bar.x() + barThickness;
            const newHeight = stage.getPointerPosition().y - bar.y() + barThickness;
            bar.width(newWidth).height(newHeight);
            layer.batchDraw();    
        }

    </script>
  </body>
{% endblock %}