{% extends 'base.html' %}
{% block content %}

    <h1>Home Page</h1>
    <div id="konva-holder">
        
    </div>
    <script>
        let canvasHeight = 600;
        let canvasWidth = 700;

        let stage = new Konva.Stage({
            height: canvasHeight,
            width: canvasWidth,
            container: "konva-holder",
        });
        let layer = new Konva.Layer();
        stage.add(layer);

        let rect = new Konva.Rect({
            stroke: "black",
            width: canvasWidth,
            height: canvasHeight,
        });
        layer.add(rect);
        layer.draw();

        let bar = null;
        let isDrawing = false;

        stage.on("dblclick", doubleclickHandler);
        stage.on("mousemove", mousemoveHandler);
        stage.on("mouseup", mouseupHandler);

        let clickPositionX = null;
        let clickPositionY = null;
        function doubleclickHandler(){
            isDrawing = true;
            bar = new Konva.Rect({
                x: stage.getPointerPosition().x - 10,
                y: stage.getPointerPosition().y - 10,
                width: 20,
                height: 20,
                fill: "lightblue",
                stroke: "black",
                draggable: true,
            });
            layer.add(bar).batchDraw();
        }

        function mouseupHandler(){
            isDrawing = false;
        }

        function mousemoveHandler(){
            if (!isDrawing) return false;
            const newWidth = stage.getPointerPosition().x - bar.x() + 10;
            const newHeight = stage.getPointerPosition().y - bar.y() + 10;
            bar.width(newWidth).height(newHeight);
            layer.batchDraw();    
        }
        
    </script>

{% endblock %}