<!-- base.html -->
<!doctype html>
<html>
    <head>
        <script src="https://unpkg.com/konva@8.3.12/konva.min.js"></script>
        <style type="text/css">
            .sidenav {
                height: 100%;
                width: 180px;
                position: fixed;
                z-index: 1;
                top: 0;
                left: 0;
                background-color: #111;
                overflow-x: hidden;
                padding-top: 20px;
            }

            .sidenav a {
                padding: 6px 8px 6px 16px;
                text-decoration: none;
                font-size: 25px;
                color: #818181;
                display: block;
            }

            .sidenav a:hover {
                color: #f1f1f1;
            }

            .main {
                margin-left: 160px;
                padding: 0px 10px;
            }
            .scrollable {
                overflow-y: scroll;
            }
        </style>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <title>{% block title %}DCL ITS{% endblock %}</title>
    </head>

    <body>
        {% if user.is_authenticated %}
        <div class="sidenav">
            <a href="/">Home</a>
            <a href="/logout">Logout</a>
        </div>
        {% else %}
            <div class="sidenav">
                <a href="/">Home</a>
                <a href="/login">Login</a>
                <a href="/register">Sign In</a>
            </div>
        {% endif %}
        
        <div id="content" name="content" class="main">
            <div class="row justify-content-center">
                <div class="col-8 ">
                    <h1 class="mt-2">ITS Estatica</h1>
                    <hr class="mt-0 mb-4">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
        
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
                integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
                crossorigin="anonymous"></script>
        <script>
            var shadowSnapSize = blockSnapSize/2;
            function shadowStart(e){
                shadowFigure = e.target.clone({
                    fill: '#FF7B17',
                    opacity: 0.6,
                    stroke: '#CF6412',
                    strokeWidth: 3,
                    dash: [20, 2]
                });
                layer.add(shadowFigure);
                shadowFigure.moveToTop();
                e.target.moveToTop();
            };
            function shadowEnd(e){
                e.target.position({
                    x: Math.round(e.target.x() / shadowSnapSize) * shadowSnapSize,
                    y: Math.round(e.target.y() / shadowSnapSize) * shadowSnapSize
                });
                stage.batchDraw();
                shadowFigure.destroy();
            }
            function shadowMove(e){
                shadowFigure.position({
                    x: Math.round(e.target.x() / shadowSnapSize) * shadowSnapSize,
                    y: Math.round(e.target.y() / shadowSnapSize) * shadowSnapSize
                });
                stage.batchDraw();
            }
            function deleteTransformers(){
                transformers.forEach(function (t){
                    t.destroy();
                })
                transformers = []
                selectedShapes = []
            }

            function deleteShapes(shapes){
                for(var j = 0; j < selectedShapes.length; j++){
                    for(var i =  0; i < existingShapes.length; i++){
                        if (existingShapes[i] === selectedShapes[j]) {
                            selectedShapes[j].destroy();
                            existingShapes[i].destroy();
                            existingShapes.splice(i, 1);
                        }
                    }
                }
            }

            // Function to convert stage to string, also send it to the Form text to be saved in DB
            function getStageAsStr(){
                // json = stage.toJSON().substr(6372)
                // json = json.substr(0, json.length-3)
                // document.getElementById("stageInput").value = json
                var str = ""
                for(var i = 0; i < existingShapes.length; i++){
                    str += objectToString(existingShapes[i])
                }
                document.getElementById("stageInput").value = str
                return str
            }

            function objectToString(object){
                var  string = '{'
                string += '"name": ' + object.name()
                string += ', '
                if (object.name() === "forceGroup"){
                    string += '"force": ' + object.children[1].text()
                    string += ', '
                }
                string += '"x": ' + object.x()
                string += ', '
                string += '"y": ' + object.y()
                string += ', '
                string += '"rotation": ' + object.rotation()
                string += '};'
                return string
            }

            function getStageAsList(){
                return JSON.parse(getStageAsStr);
            }
        </script>
    </body>
</html>


