{% extends 'base.html' %}
{% block content %}


<style>
    .button {
        background-color: #008CBA; /* Blue */
        border: none;
        color: white;
        padding: 3px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 13px;
        }
</style>
<table class="TaskTable">
    <style>
        table.TaskTable {
            border: 2px solid #FFFFFF;
            width: 100%;
            text-align: center;
            border-collapse: collapse;
            }
            table.TaskTable td, table.TaskTable th {
            border: 0px solid #FFFFFF;
            padding: 3px 4px;
            }
            table.TaskTable tbody td {
            font-size: 13px;
            }
            table.TaskTable tr:nth-child(even) {
            background: #D0E4F5;
            }
            table.TaskTable thead {
            background: #FFFFFF;
            border-bottom: 4px solid #333333;
            }
            table.TaskTable thead th {
            font-size: 15px;
            font-weight: bold;
            color: #333333;
            text-align: center;
            border-left: 2px solid #333333;
            }
            table.TaskTable thead th:first-child {
            border-left: none;
            }

            table.TaskTable tfoot td {
            font-size: 14px;
        }
    </style>
    <thead>
    <tr>
    <th>Nombre</th>
    <th></th>
    </tr>
    </thead>
    <tbody>
    {% for user in users_list %}
        <tr>
            <td>
                {{user}}
            </td>
            <td>
                <a class="button button" href="{% url 'dcl'%}">Info</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
    </table>

{% endblock %}